/* GLOBAL STYLES */

body {
    font-family: 'Open Sans', sans-serif;
    /* font-family: 'Roboto', sans-serif; */
    font-weight: 300;
    /* font-size: .8em; */
}

input,
select {
    font-size: 16px;
}

.btn {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: .9em;
    /* max-width: 400px; */
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;

}

.hidden {
    visibility: hidden;
}

#root {
    display: flex;
    flex-direction: column;
}

.date {
    font-size: .9em;
    color: rgba(0, 0, 0, 0.658);
}

.navbar-brand {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;

}

.smallFont {
    font-size: .8em;
}

#footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1020;
}

#footerTitle {
    color: rgba(0,0,0,.5);
    font-weight: 300;
}

#contact {
    border: 1px solid rgba(0,0,0,.1);
    border-radius: .25rem;
    padding: .25rem .75rem;
    box-shadow: 1px 1px rgb(226, 226, 226);
}

.emphasize {
    font-weight: 500;
    font-size: 1.1em;
}

.deemphasize {
    font-weight: 300;
    font-size: .8em;
}

.pageContents {
    display: flex;
    flex-direction: column;
    padding: 10px 15px 70px 15px;
}

.pageContents > button {
    margin: 10px 60px;
    padding: 10px;
}

/* CARD STYLES */
.cardContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.card {
    width: 95%;
    max-width: 500px;
    border: 1px solid rgb(226, 226, 226);
    margin: 5px 0;
    padding: 10px;
    box-shadow: 3px 3px rgb(226, 226, 226);
}

.animalCard,
.animalSessionCard {
    max-width: 800px;
}

/* .animalSessionCard {
    display: flex;
    flex-flow: row wrap;
} */

.innerCard {
    border: 1px solid lightgray;
    border-radius: .25rem;
    padding: 10px;
    margin: 5px;
}

/* .animalSessionCard > .innerCard {
    max-width: 300px;
    min-width: 40%;
} */

.cardHeading {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.cardTitle {
    font-size: 1.5em;
    font-family: 'Montserrat', sans-serif;
}

.cardSubtitle {
    align-items: stretch;
}


.cardContents {
    display: flex;
    justify-content: space-between;
}

.cardTextContents {
    display: flex;
    flex-direction: column;
    width: 66%;
}

/* NAVBAR */

.navbar {
    padding: 10px 20px;
}

/* BUTTON STYLES */

button {
    box-shadow: 2px 2px rgb(226, 226, 226);
}

.btnContainer {
    margin-top: 5px;
    display: flex;
    justify-content: flex-end;
}

.sessionBtnContainer {
    margin-top: 5px;
    display: flex;
    justify-content: space-around;
}

.btn-details {
    /* width: 50%; */
    margin-right: 5px;
}

.btn-delete {

}

.btn-edit {
    margin-right: 5px;
}

.btn-edit-animal-details {
    width: 15%;
    padding-left: 13px;
    align-self: flex-end;
}

/* .animalBehaviorButton {

} */

/* IMAGE STYLES */

.cardImage,
.detailImage {
    border: 1px solid lightgray;
    border-radius: 10px;
    align-self: center;
    max-width: 300px;
}

.cardImage {
    height: auto;
    width: 33%;
}

.detailImage {
    width: 80%;
    height: auto;
}


/* HOME/LOGIN/REGISTER */
.homeCard {
    text-align: center;
    margin: 40px 0px 10px 0px;
}

.addBtn {
    font-size: 1.2em;
}

#mainBtn {
    height: 70px;
}

/* .mainBtn {
    min-width: 250px;
    max-width: 400px;
    width: 70%;
}

.mainBtnContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
} */

.homeTitle {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    margin-bottom: 30px;
}


/* .behaviorCardHeading {
    font-size: 1.15em;
} */

/* .sessionDetailHeading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
} */


/* BEHAVIOR LIST STYLES */
.behaviorListItem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1px;
}

.behaviorListItem > button {
    margin: 2px;
    padding: 2px 8px;
}

#behaviorId {
    /* flex-basis: 75%; */
    margin-right: 5px;
    padding: 5px;
    font-size: .9em;
    font-weight: 300;
}


/* FORM STYLES */
.form-control {
    font-weight: 300;
}

.formContainer {
    margin: 15px;
    width: 95%;
    max-width: 500px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    padding: 15px;
    display: inline-block;
}

.formTitle {
    text-align: center;
}


#cropper-container {
    width: 200px;
    height: 200px;
    margin: auto;
    border: 1px solid black;
    margin-bottom: 70px;
}

.spinner {
    width: 100px;
    height: 100px;
    margin: 48px 0 0 48px;
}

#cropper {
    margin-top: 10px;
}