/* GLOBAL STYLES */

body {
    /* font-family: 'Open Sans', sans-serif; */
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    /* font-size: .8em; */
}

.btn {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: .9em;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;

}

.hidden {
    visibility: hidden;
}

#root {
    display: flex;
    flex-direction: column;
}

.date {
    font-size: .9em;
    color: rgba(0, 0, 0, 0.658);
}

.navbar-brand {
    font-family: 'Montserrat', sans-serif;

}

.smallFont {
    font-size: .8em;
}


/* CARD STYLES */
.cardContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.card {
    width: 300px;
    border: 1px solid lightgray;
    margin: 5px 5px;
    padding: 10px;
    box-shadow: 3px 3px lightgray;
}

.innerCard {
    border: 1px solid lightgray;
    border-radius: .25rem;
    padding: 10px;
    margin: 5px;
}

.cardHeading {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.cardTitle {
    font-size: 1.5em;
    font-family: 'Montserrat', sans-serif;
}

.cardSubtitle {
    align-items: stretch;
}


.cardContents {
    display: flex;
    justify-content: space-between;
}

.cardTextContents {
    display: flex;
    flex-direction: column;
    width: 66%;
}


/* BUTTON STYLES */
.btnContainer {
    margin-top: 5px;
    display: flex;
    justify-content: flex-end;
}

.btn-details {
    /* width: 50%; */
    margin-right: 5px;
}

.btn-delete {

}

.btn-edit {
    margin-right: 5px;
}

.btn-edit-animal-details {
    width: 15%;
    padding-left: 13px;
    align-self: flex-end;
}

.animalBehaviorButton {

}

/* IMAGE STYLES */

.cardImage,
.detailImage {
    border: 1px solid lightgray;
    border-radius: 10px;
    align-self: center;
}

.cardImage {
    height: auto;
    width: 33%;
}

.detailImage {
    width: 80%;
    height: auto;
}


/* HOME/LOGIN/REGISTER */
.homeCard {
    text-align: center;
    margin: 40px 0px 10px 0px;
}

#root > button {
    margin: 10px 60px;
    padding: 10px;
}

.addBtn {
    font-size: 1.2em;
}

#mainBtn {
    height: 70px;
}

.homeTitle {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    margin-bottom: 30px;
}


/* .behaviorCardHeading {
    font-size: 1.15em;
} */

/* .sessionDetailHeading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
} */


/* BEHAVIOR LIST STYLES */
.behaviorListItem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1px;
}

.behaviorListItem > button {
    margin: 2px;
    padding: 2px 8px;
}

#behaviorId {
    /* flex-basis: 75%; */
    margin-right: 5px;
    padding: 5px;
    font-size: .9em;
    font-weight: 300;
}


/* FORM STYLES */
.form-control {
    font-size: .9em;
    font-weight: 300;
}

.formContainer {
    margin: 15px;
    max-width: 100%;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    padding: 15px;
    max-width: 100%;
}

.formTitle {
    text-align: center;
}


#cropper-container {
    width: 200px;
    height: 200px;
    margin: auto;
    border: 1px solid black;
    margin-bottom: 70px;
}

.spinner {
    width: 100px;
    height: 100px;
    margin: 48px 0 0 48px;
}

#cropper {
    margin-top: 10px;
}